
@model ElatePortal.Models.Profile

@{
    ViewData["Title"] = "Register";


}

<h2>Register</h2>


@Model.Email

<form asp-controller="Home" asp-action="Register" method="post">
    <strong>Name:</strong>  @ViewData["name"] <strong>Email:</strong> @ViewData["email"]
    <input type="hidden" name="First Name" readonly value="@ViewData["name"]" />
    <input type="hidden" name="Email" value="@ViewData["email"]" />
    <!-- Input and Submit elements -->
</form> 