@using System.Runtime.InteropServices
@using Microsoft.AspNetCore.Routing

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<body>

@{
    var id = Context.GetRouteData().Values["id"];
}

<form method="post" enctype="multipart/form-data" asp-controller="Blogs" action="/Admin/Blog/Update/@id">
    
    
    @foreach (var post in Model["post"])
{
     

    <h1><input name="title" value="@post.Title" /></h1>
                
     <img src="/uploads/@post.CoverImage"/>              
                   
    <div class="form-group">
        <div class="col-md-10">
          
            <input type="file" name="files" multiple />
        </div>
    </div>
                   
    
    <textarea name="content"> @post.Content </textarea>


    foreach (var tags in Model["tags"])
    {
        
        if (post.DepartmentsBlog.Count > 0)
        {

            var checkmark = "";
            
            for (int i = 0; i < post.DepartmentsBlog.Count; i++)
            {
                
                if (tags.DepartmentName.Contains(post.DepartmentsBlog[i].Departments.DepartmentName))
                {
                    checkmark = "checked";
                }     
            }
         
          <input name="tag[]" type="checkbox" @checkmark  value="@tags.Id" /> @tags.DepartmentName  

        }
        else
        {
            
            <input name="tag[]" type="checkbox" value="@tags.Id"/> @tags.DepartmentName  
        }

    }
    
    <div>Status:
        @{
              
            var statuses = new List<string>()
            {
                "Draft", "Published"
            };
        } 
    
        <select name="status">
            @{
                foreach (var status in statuses)
                {
                    var selected = (post.Status.Equals(status)) ?  "selected" : "";
                    
                    <option @selected >@status</option>
                }              
            }

        </select>
    </div>
 
        
        
         var checkedstatus = (post.Feature == 1) ? "checked" : "";
   

    <input type="checkbox" name="Feature" value="1" @checkedstatus> <span>Feature</span>
   
}
    


    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Update" />
        </div>
    </div>


</form>
</body>
